@model library_jkpg.Models.BOOK

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>BOOK</h4>
<div>
    <a href="@Url.Action("Index", "Books")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back to List</a>

    <a href="@Url.Action("Details", "Books", new { id = Model.ISBN })" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Details</a>

    <a href="@Url.Action("Edit", "Books", new { id = Model.ISBN })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a>
</div>
<hr />
<h3>
    Are you sure you want to delete:
    <span class="text-danger">@Html.DisplayFor(model => model.Title)</span> ?
</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publicationinfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicationinfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLASSIFICATION.Signum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASSIFICATION.Signum)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-danger" />
        </div>
    }

</div>