@model IEnumerable<library_jkpg.Models.BOOK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Books")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add new book</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.publicationinfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASSIFICATION.Signum)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="50%">
            @*@Html.DisplayFor(modelItem => item.Title)*@
            <a href="@Url.Action("Details", new { id = item.ISBN })">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PublicationYear)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.publicationinfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLASSIFICATION.Signum)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ISBN }) |
            @Html.ActionLink("Details", "Details", new { id=item.ISBN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ISBN })
        </td>*@
    </tr>
}

</table>
