@model library_jkpg.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>
<h4>ADMINISTRATION</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <a href="@Url.Action("Index", "Admin")"
               class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Back to List
            </a>

            <a href="@Url.Action("EditRoles", "Admin", 
                    new { UserName = Model.UserName })" 
               class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i> Edit User Roles</a>

        </div>

        <br />
        @Html.ValidationSummary(true,
       "",
       new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "",
               new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email,
               "",
               new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password,
               "",
               new { @class = "text-danger" })
            </div>
        </div>

        @*LockoutEndDateUtc
            <div class="form-group">
            @Html.LabelFor(model => model.LockoutEndDateUtc,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LockoutEndDateUtc,
               new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />

                @*@Html.ActionLink("Edit Roles", "EditRoles",
               new { UserName = Model.UserName },
               new { @class = "btn btn-default" })
                
                @Html.ActionLink("Back to List",
               "Index",
               null,
               new { @class = "btn btn-default" })*@

            </div>
        </div>
    </div>
}
